 <div class="container">

        <header class="jumbotron hero-spacer">
            <h1>We are Teaching Athletes Plans for Success Inc. (T.A.P.S)!</h1><br>
            <p>A nonprofit organization supporting at-risk urban youth.  Our goal is the help our youth recognize their full potential on and off the playing courts and fields. We strive to assist our youth in identifying their strengths and develop a plan to execute their dreams.</p>
           <p>A gift consists not in what is done or given, but in the intention of the giver or doer</p>
            <p><%= link_to "Donate Now", root_path, class: "btn btn-primary", data: { no_turbolink: true } %>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Some Of what We Offer</h3>
            </div>
        </div>






<!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "inschool.png",class: "img-responsive" %>
                    <div class="caption">
                        <h3>School</h3>
                        <p>In-School and After-School Enrichment .</p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "trade.jpg",class: "img-responsive" %>
                    <div class="caption">
                        <h3>Skills</h3>
                        <p>Trades and Skills Program.</p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "tutoring.jpg",class: "img-responsive" %>
                    <div class="caption">
                        <h3>Tutoring </h3>
                        <p>Reading and writing, to math and study skills.</p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "aau.jpg",class: "img-responsive" %>
                    <div class="caption">
                        <h3>AAU</h3>
                        <p>amateur sports organization based in the United States.</p>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

